@use"../settings/variables" as var;
@use"../settings/mixins" as mix;

#main {
    
    width: 70%;
    background: white;
    margin: auto;
    padding: 80px 0;

    button {
        display: block;
        margin: 80px auto 0;
    }

}

.main-text {
    margin: 0 auto 40px;
    text-align: center;

    h2 {
        font-size: 3.5rem;
        text-transform: uppercase;
        font-weight: 800;
        padding: 40px 26%;
    }

    p {
        padding: 0 25%;
        font-family: font3, sans-serif;
        line-height: 40px;
    }
}

.date {
    @include mix.flex-center;

    p {
        padding: 40px 8%;
        font-size: 1.2rem;
    }
}

.br {
    content: "";
    border: solid 1px rgba(211, 211, 211, 0.548);
    width: 25%;
    height: 0;
}

.container-img {
    width: 80%;
    height: 35vw;
    margin: 0 auto;
}

.main-img {
    background: url(/assets/images/pic01.jpg) center/cover;
    width: 100%;
    height: 100%;
    }