@media screen and (max-width:1245px) {
    .nav-txt {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    
    .nav-social {
        display: none;
    }

    }
